/* Custom styles for portfolio images */
.project-img img[src="./assets/images/krr-reflection.webp"],
.project-img img[src="./assets/images/kr-ontology.webp"],
.project-img img[src="./assets/images/NA-rcode.jpg"],
.project-img img[src="./assets/images/summary.jpeg"],
.project-img img[src="./assets/images/RP-1.webp"],
.project-img img[src="./assets/images/RP-2.png"],
.project-img img[src="./assets/images/RP-3.svg"],
.project-img img[src="./assets/images/swot.png"],
.project-img img[src="./assets/images/matrix.png"],
.project-img img[src="./assets/images/Action-plan.webp"],
.project-img img[src="/assets/images/IA-report.png"],
.project-img img[src="/assets/images/IA-outline.png"],
.project-img img[src="/assets/images/IA-Presentation.png"],
.project-img img[src="/assets/images/IA-SpeakingNotes.png"],
.project-img img[src="/assets/images/IA-ACL-Discussion.png"],
.project-img img[src="/assets/images/IA-ACL-discussion-Summary.png"],
.project-img img[src="/assets/images/IA-Code.png"],
.project-img img[src="/assets/images/IA-Reflection.png"] {
  height: 194.49px;
  object-fit: cover;
}

.project-img img[src^="/assets/images/intelligent-agents-"] {
  height: 194.49px;
  object-fit: cover;
}
